body {
    background-color: #F4F3F3;
}

.container {
    background-color: #2D2A37;
    border-radius: 48px;
    margin: auto;
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: auto;
    padding: 54px 32px 32px 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 26px;
    flex-shrink: 0;

    color: #EBEBEB;
    text-align: center;
    font-family: Rubik;}
.top {
    width: 100%;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

#result {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;

}

#numTemp {
    color: #6B6B6B;
    font-size: 20px;
    font-weight: 400;
}

.row, .bottom {
    display: flex;
    gap: 12px;
    align-items: center;
    /* flex: 1; */
}

.bottom {
    flex-direction: column;
}
button {
    width: 64px;
    aspect-ratio: 1 /1;

    border-style: hidden;
    border-radius: 999px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #2D2A37;
    box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.06) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 11px 7px 0px rgba(0, 0, 0, 0.01);
    
    color: #EBEBEB;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

button:hover {
    background-color: #EBEBEB;
    color: #2D2A37;
}


.purple {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #a9510e;
}
#ce {
    color: #ed7010;
}
#equals {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), #ed7010;
    /* width: 140px;
    height: 64px; */
}